{% extends 'basic.html' %}
{% load static %}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

{% block body %}

<div class="block-heading  bg-dark pt-2 pb-2"  style="margin-top: 4.8rem; font-family: 'PT Serif Caption', serif; ">
        <h2 class=" rubberBand animated"style=" font-size: 52px; color:rgb(241, 235, 235); text-align: center;">Blog : {{post.title}}</h2>
    </div>
<div class="container">
    <div class="card-deck my-3">
           
      <div class=" card">
        <img src="/media/{{post.thumbnail}}"class="card-img-top" alt="{{post.title}}">
        <div class="card-body">
          <h4 class="card-title" style=" text-align: center;">{{post.title}}</h4><h6 class="card-title" style=" text-align: center;">{{post.sub_head}}</h6>
           <p class="card-text"><small class="text-muted">{{post.post_date}}</small></p>
          <p class="card-text">{{post.content}}</p>
           
          
    
        </div>
      </div>
      
    </div>


</div>
    {% block footer %}
    {% endblock %}
    {% endblock %}
